#!/bin/bash

# this is a script used for source

# usage within a script:
#    . param.rc $*

# exports tag

set -ue

tag="latest"

if [ $# -gt 0 ]; then
    if [ $1 == "dev" ]; then
        tag="dev"
    fi
fi

