#!/bin/bash

# this is a script used for source

# usage within a script:
#    . param.rc $*

# exports tag and dockerfile

set -ue

tag="latest"
dockerfile="Dockerfile"

if [ $# -gt 0 ]; then
    if [ $1 == "dev" ]; then
        tag="dev"
        dockerfile="Dockerfile.dev"
    fi
fi

